{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "core": "./lib/core"
                }
            }
        ],
        "transform-export-extensions"
    ],
    "presets": [
        "react-native"
    ]
}
