{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "core": "../core"
                }
            }
        ]
    ],
    "presets": [
        "react-native"
    ]
}
